//======================================================================
// Header
//======================================================================

header {
    background-color: $bright-red;
    color: $white;
    padding: 10px 20px;
}