//======================================================================
// Footer
//======================================================================

footer {
    background-color: $bright-red;
    color: $white;
    height: 100px;
    padding: 10px 20px;
}